@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --color-blue: #004e64;
  --color-orange: #ff6b00;
  --color-gray: #5a5a5a;
  --animate-show-popup: showThenHide 2s ease forwards;
}

@keyframes showThenHide {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  } /* fim do show */
  70% {
    opacity: 1;

    transform: scale(1);
  } /* mantém visível */
  100% {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  } /* hidden */
}
